<div class="region text-white my-5">
    <div class="region-title d-flex align-items-center">
        <h2 class="text-dark p-0">Regional</h2>
        <div class="country-box mx-2 my-3">
            <p class="text-dark">Country & Region</p>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="getSelect($event)">
                <option *ngFor="let case of caseList" >{{case.countryregion}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="region-detail col-3 confirmed ">
            <p class="title"><i class="fas fa-user"></i> Confirmed</p>
            <p class="title">{{country.confirmed}}</p>
        </div>
        <div class="region-detail col-3 recovered">
            <p class="title"><i class="fas fa-first-aid"></i>Recovered</p>
            <p class="title">{{country.recovered}}</p>
        </div>
        <div class="region-detail col-3 death">
            <p class="title"><i class="fas fa-bed"></i>Death</p>
            <p class="title">{{country.deaths}}</p>
        </div>
        <div class="region-detail col-3 fatality">
            <p class="title"> <i class="fas fa-exclamation-circle"></i>Fatality rate</p>
            <p class="title">{{deathRate}} %</p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>


