<div class="total row text-white my-5 p-0">
    <h2 class="col-12 text-dark p-0">World Wide</h2>
    <div class="total-detail col-3 confirmed ">
        <p class="title"><i class="fas fa-user"></i> Confirmed</p>
        <p class="title">{{total.confirmed|number:'4.1-5'}}</p>
    </div>
    <div class="total-detail col-3 recovered">
        <p class="title"><i class="fas fa-first-aid"></i>Recovered</p>
        <p class="title">{{total.recovered|number:'4.1-5'}}</p>
    </div>
    <div class="total-detail col-3 death">
        <p class="title"><i class="fas fa-bed"></i>Death</p>
        <p class="title">{{total.deaths|number:'4.1-5'}}</p>
    </div>
    <div class="total-detail col-3 fatality">
        <p class="title"> <i class="fas fa-exclamation-circle"></i>Fatality rate</p>
        <p class="title">{{deathRate}} %</p>
    </div>
</div>